
<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" type="text/css" href="b.css">
            </head>
            <body>
                <div class="lunch-menu">

                <div class="header">
                    <h1>
                        Details
                    </h1>
                </div>
                <div class="menu">
                   <div class="type">
                        <h2>
                            Labels:
                        </h2>
                    </div>
                    <table class="table">
                        <tr class="table-data-items">
                            <td class="table-title">
                                <img src="/assets/vegetarian.png" alt="" height="20">
                            </td>
                            <td class="table-content">
                                vegetarian(ovo lacto vegetabil)
                            </td>
                        </tr>
                        <tr class="table-data-items">
                            <td class="table-title">
                                <img src="/assets/vegan.png" alt="" height="20">
                            </td>
                            <td class="table-content">
                                vegan
                            </td>
                        </tr>
                        <tr class="table-data-items">
                            <td class="table-title">
                                <img src="/assets/fishy.png" alt="" height="20">
                            </td>
                            <td class="table-content">
                                fish
                            </td>
                        </tr>
                        <tr class="table-data-items">
                            <td class="table-title">
                                <img src="/assets/meat.png" alt="" height="20">
                            </td>
                            <td class="table-content">
                                meat
                            </td>
                        </tr>
                        <tr class="table-data-items">
                            <td class="table-title">
                                <img src="/assets/spicy.png" alt="" height="20">
                            </td>
                            <td class="table-content">
                                spicy
                            </td>
                        </tr>
                        <tr class="table-data-items">
                            <td class="table-title" >
                                <img src="/assets/wellness.png" alt="" height="20">
                            </td>
                            <td class="table-content">
                                wellness
                            </td>
                        </tr>
                        <tr class="table-data-items">
                            <td class="table-title" >
                                <img src="/assets/regional.png" alt="" height="20">
                            </td>
                            <td class="table-content">
                                regional
                            </td>
                        </tr>
                    </table>
                   <div class="type">
                        <h2>
                            Contains allergens:
                        </h2>
                    </div>
                    <table class="contain-allergens">
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (Aa)
                                <img src="/assets/Wheat.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Wheat
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (Ab)
                                <img src="/assets/Rye.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Rye
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (Ac)
                                <img src="/assets/Barley.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Barley
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (Ad)
                                <img src="/assets/Oats.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Oats
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (Ae)
                                <img src="/assets/Spelt.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Spelt
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (Af)
                                <img src="/assets/Kamut.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Kamut
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (B)
                                <img src="/assets/Crustaceans.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Crustaceans
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (C)
                                <img src="/assets/Eggs.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Eggs
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (D)
                                <img src="/assets/fish.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Fish
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (E)
                                <img src="/assets/Peanuts.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Peanuts
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (F)
                                <img src="/assets/Soybeans.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Soybeans
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (G)
                                <img src="/assets/Milk.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Milk(including lactose)
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (Ha)
                                <img src="/assets/Almond.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Almonds
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (Hb)
                                <img src="/assets/Hazelnuts.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Hazelnuts
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (Hc)
                                <img src="/assets/Walnuts.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Walnuts
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (Hd)
                                <img src="/assets/Cashews.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Cashews
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (He)
                                <img src="/assets/Pecan.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Pecan nuts
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (Hf)
                                <img src="/assets/BrazilNuts.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Brazil nuts
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (Hg)
                                <img src="/assets/Pistachio.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Pistachio
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (Hh)
                                <img src="/assets/Macadamia.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Macadamia
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (I)
                                <img src="/assets/Celery.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Celery
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (J)
                                <img src="/assets/Mustard.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Mustard
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (K)
                                <img src="/assets/Sesame.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Sesame
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (L)
                                <img src="/assets/Sulphur.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Sulphur dioxide and sulphites
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (M)
                                <img src="/assets/Lupines.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Lupines
                            </td>
                        </tr>
                        <tr class="allergens-data-items">
                            <td class="allergens-title">
                                (N)
                                <img src="/assets/Molluscs.png" alt="">
                            </td>
                            <td class="allergens-content">
                                Molluscs
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </body>
    </html>
