<div id="mySimpleTemplate" class="myTemplate" data-type="text/x-handlebars-template">
    <div class="header">
        <div style="text-align: left;">
            <span style="font-weight: bold; font-size: 20px; float: left; display: inline; padding-top: 8px">
               My TimeAccount
            </span>
        </div>
        <div style="text-align: right;">
            <span style="float: right; display: inline; font-size: 20px; padding-top: 5px">
                {{simplifyFloat dataSets.[5].data.d.CalculateQuotaAvailable.BalanceRestPostedRequested 1}} 
            </span>
        </div>
        <div style="text-align: right;">
            <span style="float: right; clear: right; display: inline; font-size: 12px; padding-top: 4px">
                available
            </span>
        </div>
        <br>
        <br>
        <div>
            <h2>History and Status</h2>
        </div>
    </div>
    <div class="card-content">
        <div id="requestList"></div>
        <table style="width:100%; border-collapse:collapse;">
            <tbody>
                <tr>
                    <td class="icon">
                       <b>Type</b>
                    </td>
                    <td align="center" style="font-size:14px;">
                        <b>Entitlement</b>
                    </td>
                    <td align="right">
                        <span style="font-size:14px; padding-right:16px;">
                        <b>Available</b>
                        </span>
                    </td>
                </tr>
                {{#each dataSets.[1].data.d.results}}
                <tr>
                    <td class="icon">
                        <span style="font-size:16px;">
                        {{TimeAccountTypeName}}<br>
                        {{formatDateTime "yyyy" ProcessingStartDate}} 
                        </span>
                    </td>
                    <td align="center">
                        {{simplifyFloat BalanceEntitlementQuantity 0}}
                    </td>
                    <td align="right">
                        <span style="font-size:16px;padding-right:16px;">
                        {{simplifyFloat BalanceAvailableQuantity 1}}
                        </span>
                    </td>
                </tr>
                {{/each}}
                <tr>
                    <td class="icon">
                       <b></b>
                    </td>
                    <td align="center" style="padding:16px;">
                        <b>Total {{dataSets.[5].data.d.CalculateQuotaAvailable.TimeTypeText}}</b>
                    </td>
                    <td align="right">
                        <span class="status">
                        <b>{{simplifyFloat dataSets.[5].data.d.CalculateQuotaAvailable.BalanceRestPostedRequested 1}}</b>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
