<div><div><div><div>
<body>
            <div id="mySimpleTemplate" class="myTemplate" data-type="text/x-handlebars-template">
           <div class="header">
                        <img src="assets/clock-05.png" alt="" style="height: 56px; vertical-align:middle;">
                        <div>
                            <h1>
    
                                My Time Sheets
                            </h1>
                        </div>    
            </div>
            <div class="card-content">
                <div class="name"><span id='handlebar-tag-0' handlebarid='handlebar-tag-0])' style='display:inline-block;min-width:15px;min-height:15px;'>{{d.results.0.userIdNav.defaultFullName}}</span>
                </div>
                <div style="float:left; font-weight: bold; font-size:1rem;">
                    Date
                </div>
                <div style="float:right; font-weight: bold;font-size:1rem;">
                    Status
                </div>
                <div style="text-align: center; font-weight: bold;font-size:1rem;">
                    Hours
                </div>
                <hr style="color:#ffffff;">
                    {{#each d.results}}
                <div style="height: 1rem;">
                </div>
                <div style="float:left;">
                    <span id='handlebar-tag-2' handlebarid='handlebar-tag-2])' style='display:inline-block;min-width:15px;min-height:15px;'>{{c2gEdmDateTime 'dd.MM.yyyy' startDate}}</span>
                </div>
                <div style="float:right;">
                    <span id='handlebar-tag-3' handlebarid='handlebar-tag-3])' style='display:inline-block;min-width:15px;min-height:15px;'>{{approvalStatus}}</span>
                </div>
                <div style="margin-left: auto; margin-right: auto; text-align: center;">
                    <span id='handlebar-tag-4' handlebarid='handlebar-tag-4])' style='display:inline-block;min-width:15px;min-height:15px;'>{{quantityInHours}}</span>
                </div>

        {{/each}}
            </div>
        </div>
</body>
</div></div></div></div>