
<body>
    <div id="mySimpleTemplate" class="myTemplate" data-type="text/x-handlebars-template">
        <br>
        <div class="header">
            {{iconLoad "contactSupplier"}} 
            <h1 style="font-weight: bold; font-size: xx-large; margin-top:-39px; margin-left: 49px;">
                {{dataSets.[0].data.d.SupplierName}}
            </h1>
            <span class="name">
                {{dataSets.[0].data.d.SupplierId}}
            </span>
        </div>
        <br>
        <br>        
        <br>
        <div class="card-content">
            <div style="font-size: large; color: #000000;">
                <b>Contact Details:</b>
            </div>
            <br>
            <div class="listitem">
                <span>
                    {{iconLoad "emailSupplier"}}
                </span>
                <div class="listitem-label">
                    Supplier Email Address 
                </div>
                <br>
                <div class="listitem-value">
                    <span class="c2g_email">
                        {{dataSets.[0].data.d.EmailAddress}}
                    </span>
                </div>
            </div>
            <br>
            <div class="listitem">
                <span>
                    {{iconLoad "phoneSupplier"}}
                </span>
                <div class="listitem-label">
                    Supplier Phone Number 
                </div>
                <br>
                <div class="listitem-value">
                    <span class="c2g_phoneNumber">
                        {{dataSets.[0].data.d.PhoneNumber}}
                    </span>
                </div>
            </div>
            <br>
            <div class="listitem">
                <span>
                    {{iconLoad "addressSupplier"}}
                </span>
                <div class="listitem-label">
                    Supplier Address 
                </div>
                <br>
                <div class="listitem-value">
                    <span class="c2g_address">
                    {{dataSets.[0].data.d.Address.HouseNumber}}
                    &nbsp;
                    {{dataSets.[0].data.d.Address.Street}},
                    <br>
                    {{dataSets.[0].data.d.Address.City}},
                    &nbsp;
                    {{dataSets.[0].data.d.Address.PostalCode}}
                    ,
                    {{dataSets.[0].data.d.Address.Country}}
                    </span>
                </div>
            </div>
            <br>
        </div>
    </div>
</body>
