<body>
    <div id="mySimpleTemplate" class="myTemplate"
data-type="text/x-handlebars-template">
   <!-- <link rel="stylesheet" type="text/css" href="template.css"> -->
        <div class="wrap">
            <div class="header" >
                <div style="text-align: left;">
                    <h1>
                        ToDo Details
                    </h1>
                </div>
                
                <!--The div style below is an example of how to include some additional fields in the title/header part that are aligned right-->
            </div>

            <div class="card-content">
                <!-- the <hr> creates an example horizontal line at the beginning of card body directly below the header. It can be removed but shows how the header CSS padding is working -->
                
                <h3>Some additional information about the task…</h3>


                </div>
                
        
            <div class="footer">
                            <div class="footer-content">
                                
                                <h4>
                                    Powered by
                                </h4>
                                <img src="assets/sapcp.png" alt="" height="18px" style="padding-top: 14px;">
                            </div>
            </div>
        </div>
    </div>
</body>
