<body>
    <div id="mySimpleTemplate" class="myTemplate"
data-type="text/x-handlebars-template">
    <!-- <link rel="stylesheet" type="text/css" href="template.css"> -->
        <div class="wrap">
            <div class="header" >
                 <img src="logo_blue.png" alt="" width="40px" height="40px" style="padding-right:8px; padding-top:14px;">
                <div style="text-align: left;">
                    <h1>
                    ToDo Overview               
                    </h1>
                </div>
            </div>
            
            <div class="card-content">

                <h3>You have 1 open & pending ToDo</h3>

                <span class="label">Open ToDo:</span><br>
                <span style="font-size: 18px; font-weight:bold;">
                {{d.todoEntryName}} 
                </span><br>
                <div>
            <br>
            <span class="label">Date Created:</span><br>
            {{c2gEdmDateTime 'dd.MM.yyyy' d.createdDate}}
        </div>
        <br>
        <div class="c2g_timestamp">
                <span class="label">Due Date:</span><br>
            {{c2gEdmDateTime 'dd.MM.yyyy' d.dueDate}}
        </div>
        <br>
               </div>
        <img src="todo-icon-20.jpg" alt="" style="width: 7rem; height: 7rem;   position: absolute;
  bottom: -2rem; right: 3rem;" >
                
    </div>

    </div>

</body>
